body {
    max-width: 100%;
    margin: 0;
    padding: 2.5% 5%;
    color: #101720;
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
    background-color: #f1f2ff;
} 

/* general elements within the website */
h1 {
    color:#2b5740;
    margin: 0; 
    text-decoration: wavy underline  #363658;
}
h2 { 
    margin: 0; 
    color:#363658;
    text-decoration: wavy underline  #2b5740;
}
h3 {
    color:#456d7e;
}
h4 {
    color:#2b5740;
}


/* nav bar styling */
.nav {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    border-top: dashed;
    border-right: dashed;
    border-left: dashed;
    border-bottom: dashed;
    border-width: 2px;
    border-color: #456d7e;
    padding: 6px;
}
.nav-link {
    text-decoration: wavy underline #2b5740;
    color:#363658;
    font-weight: bold;
}


/* homepage styling */
.homepage-introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: dashed;
    border-left: dashed;
    border-bottom: dashed;
    border-width: 2px;
    border-color: #456d7e;
    padding: 12px;
}
    /* this is the site's title */
.homepage-introduction h1 { /* to be used only site title */
    font-size: 5rem;
    color:#2b5740;
    margin: 0; 
    text-decoration: wavy underline 2px #363658;
    border-right: 3px solid #000;
    animation: cursor 1s infinite step-end, typing 15s infinite steps(9);
    white-space: nowrap;
    overflow: hidden;
}
@keyframes cursor{
    0%, 100%{border-color: transparent;}
    50%{border-color: #101720;}
}  
  @keyframes typing{
    0%{ width: 0ch} /*Text is hidden*/
    30%{ width: 9ch;} /*The enitre header will be typed out 1 character at a time*/
    80%{ width: 9ch;} /*Text stays visible*/
    90%{ width: 0ch;} /*Text is deleted*/
    100%{ width: 0ch;} /*Text stays hidden*/
}
@media (max-width: 800px) {
    .homepage-introduction h1 {
        font-size: 4.3rem;
    }
}
.homepage-introduction p {
    margin: 2px;
}


/* this is showing latest post and etc */
.homepage-trio {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-right: dashed;
    border-left: dashed;
    border-bottom: dashed;
    border-width: 2px;
    border-color: #456d7e;
    gap: 16px;
    padding: 12px;
}
@media (max-width: 800px) {
    .homepage-trio {
        flex-direction: column;
    }
}
.homepage-trio h3{
    margin: 0;
}
.image-place-1 {
    box-sizing: border-box;
    margin: 8px;
    width: 150px;
    height: 150px;
    background-color: #101720;
    color: #f1f2ff;
}
.homepage-blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.homepage-art {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.homepage-writing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* this is the style of "oneliner" */
.homepage-break {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    border-right: dashed;
    border-left: dashed;
    border-width: 2px;
    border-color: #456d7e;
}

/* lists !!! */
.homepage-lists {
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: center;
    border-top: dashed;
    border-right: dashed;
    border-left: dashed;
    border-bottom: dashed;
    border-width: 2px;
    border-color: #456d7e; 
    padding: 12px;
}
@media (max-width: 800px) {
    .homepage-lists {
        flex-direction: column;
    }
}

/* footer */
.footer {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-top: dashed;
    border-right: dashed;
    border-left: dashed;
    border-bottom: dashed;
    border-width: 2px;
    border-color: #456d7e;
    text-decoration: wavy underline #2b5740
;
    color:#363658;
    font-weight: bold;
}

/* ---- THIS IS NOW ABOUT LIST.HTML ------ */
.linkOFlist {
    font-size: 1.1rem;
    color:#363658;
    font-weight: bold;
    text-decoration: none;
}
.bodyOFlist {
    border-right: dashed;
    border-left: dashed;
    border-width: 2px;
    border-color: #456d7e;
}